#New {
  width: 100%;
  min-height: calc(100vh - 374px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
}
#NewH1 {
  margin-top: 33px;
}
#NewData {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 6%;
}
#MapNew {
  margin: 3%;
  width: 300px;
  height: 300px;
}
#MapNew > figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
#MapNew > figure > img {
  width: 100%;
}
#Lorem1 {
  width: 60%;
  height: 165px;
  background: #ffffff;
  padding: 1%;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #000000;
  border: none;
  outline: none;
  background: rgba(217, 217, 217, 0.2);
  border: 1px solid rgba(65, 65, 110, 0.7);
}
